*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(187, 186, 185);
}
.header{
    
   padding: 20px;
    align-items: center;

}

.nav-items{

    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}
h1{
    color: red;
    font-size: 30px;
}
span{
    color: greenyellow;
    font-weight: lighter;
}
.navbarlinks{
      display: flex;
      list-style: none;
      margin-right: 10px;
      
}
.navbarlinks li a{
    text-decoration: none;
    padding: .5rem;
    text-transform: uppercase;
    margin-right: 10px;
    color: black;
    cursor: pointer;
    
}
.navbarlinks  li:hover{
    background-color: rgb(141, 204, 141);
    padding: 5px;
    color: white;

}
/* .active{
    background-color:rgb(179, 175, 175);
    padding: 5px;
} */
.togglebutton{
    /* border: 2px solid grey; */
    display: none;
    position: absolute;
    top: 1.75rem;
    margin: 10px;
    right: 1rem;
    flex-direction: column;
    width: 30px;
    height: 21px;
    align-items: center;
    justify-content: space-between;
}
.togglebutton .bars{
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: green;
}
.header_hero-section{
    margin-top: 4rem;
    display: flex;
}
.header_hero-section h1{
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    margin-bottom: 1rem;
    width: 100%;

}
h3{
    font-size: 15px;
    opacity: 70%;
    color: white;
    margin-bottom: 1rem;
}
.btn{
    border-radius: 30px;
    padding: 2rem;
    background-color: rgb(243, 205, 205);
    
}
.ticket-forms{
    border: 1px;
    background-color: rgb(26, 109, 177);
    padding: 1rem;
    width: 50%;
    color: white;
    font-size: 12px;
}
.container{
    display: block;
    position: relative;
    padding-left: 35px
}
.forms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
}
select{
    width: 100%;
}
@media(max-width:500px){
    .togglebutton{
        display: flex;
    }
    .navbarlinks{
        display: none; 
        width: 100%;
    }
    .nav-items{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbarlinks {
        width: 100%;
        flex-direction: column;
          
    } 
    .navbarlinks li {
        text-align:center ;
        padding: 1rem;
    }
    .navbarlinks.active{
        display: flex;
    }
}

